@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
       <title>progetto</title>
    </head>

    <body>
    <p>
        <a href="@Url.Action("ElencoHotel", "Home")">Vai a Elenco Hotel</a>
    </p>
    <p>
        <a href="@Url.Action("RicercaHotelComune", "Home")">Vai a Ricerca Hotel per Comune</a>
    </p>

    </body>
</html>
